# Fundamentals of Information Systems

## Python Programming (for Data Science)

### Master's Degree in Data Science

#### Giorgio Maria Di Nunzio
#### (Courtesy of Gabriele Tolomei FIS 2018-2019)
<a href="mailto:giorgiomaria.dinunzio@unipd.it">giorgiomaria.dinunzio@unipd.it</a><br/>
University of Padua, Italy<br/>
2021/2022<br/>

# Lecture 8: I/O with <code>pandas</code>

## Overview

-  Accessing data is a necessary first step for any data scientist. 

-  We are going to see how to perform data input/output operations using <code>**pandas**</code>.

-  I/O might refer to: reading from/writing to text files (or other more efficient on-disk formats), accessing databases, interacting with network sources like web APIs, etc.

-  We will be exploring each of those separately (although we will be focusing more on text files).

## Loading Data into <code>DataFrame</code> Objects

-  There are many functions that allow <code>**pandas**</code> to read tabular data as a <code>**DataFrame**</code> object. 

-  Among those, <code>**read_csv**</code> and <code>**read_table**</code> are by far the ones you'll likely use the most.

## Optional Arguments to <code>read_*</code> Functions

-  **Indexing:** can treat one or more columns as the returned <code>**DataFrame**</code>, and whether to get column names from the file, the user, or not at all.

-  **Type inference and data conversion:** this includes the user-defined value conversions and custom list of missing value markers.

-  **Datetime parsing:** includes combining date and time information spread over multiple columns into a single column in the result.

-  **Iterating:** support for iterating over chunks of very large files.

-  **Unclean data issues:** skipping rows or a footer, comments, or other minor things like numeric data with thousands separated by commas.

## Too Many Optional Arguments

-  Because of how messy data in the real world can be, some of the data loading functions (especially <code>**read_csv**</code>) have grown very complex over time. 

-  To avoid feeling ovewhelmed by the huge number of possible options, please refer to the [online pandas documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).

-  Type inference is one of the more important features of these functions; that means you don't necessarily have to specify which columns are numeric, integer, boolean, or string.

## <code>read_csv</code>/<code>read_table</code>

-  We will explore some of the most important I/O features provided by <code>**pandas**</code> using an example.

-  To this end, we use a tabular data file located on a remote server.

-  To check out how such a file looks like, just click [here](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

-  Of course, you can save this file on your machine and load it locally from there with <code>**pandas**</code>.

-  By default, data is assumed to be **tab-separated** (<code>**'\t'**</code>).

In [1]:
import pandas as pd
import numpy as np

In [2]:
"""
Let's start with a real example on how to load a tabular data file using pandas.
"""
# Locate the dataset (in this case, we use a remote file located on an external server)
# Alternatively, you can save this file on your machine and load it locally from there.

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

# The first line of the file represents the header, and each field
# is separated by a pipe
"""
We specify the url where the data is located, the character used to separate fields ('|')
and the name of the column to use as row label (otherwise, RangeInteger will be used)
"""
users = pd.read_csv(url, sep = '|', index_col = 'user_id')
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [4]:
"""
Suppose we have stored the file on our local machine.
"""
path = '../data/user_occupations.txt'

# read users
users = pd.read_csv(path, sep='|', index_col='user_id')
print(users.head(10))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [6]:
"""
Suppose the file does not contain any header line. We can still load the file
telling pandas there is no header AND we can also provide pandas with a list 
of names corresponding to the header we want to use.
"""
# This is the path to the same file yet without the header line
path_no_header = '../data/user_occupations_no_header.txt'

# If the file does not contain the header as the first line
users = pd.read_csv(path_no_header, sep = '|')

# Row and column indices fall back to the default RangeIndex (i.e., integers)
print(users.head(10))

    1  24  M     technician  85711
0   2  53  F          other  94043
1   3  23  M         writer  32067
2   4  24  M     technician  43537
3   5  33  F          other  15213
4   6  42  M      executive  98101
5   7  57  M  administrator  91344
6   8  36  M  administrator  05201
7   9  29  M        student  01002
8  10  53  M         lawyer  90703
9  11  39  F          other  30329

In [7]:
# If the file does not contain the header as the first line AND we want to
# specify ourselves the names of the columns (and, possibly, the row index
# as well)
users = pd.read_csv(path_no_header,
                    sep='|',
                    header=None,
                    names=[
                        'user_id',
                        'age',
                        'gender',
                        'occupation',
                        'zip_code'],
                    index_col='user_id'
                    )

print(users.head(10))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [8]:
# Sometimes, it may be useful to skip some records of the input file.
# Here, we skip the first, third and fourth (actual) record.
users_skip = pd.read_csv(path_no_header, 
                         sep = '|', 
                         header = None,
                         names=['user_id', 'age', 'gender', 'occupation', 'zip_code'],
                         index_col = 'user_id',
                         skiprows = [0, 1, 5])

print(users_skip.head(10))

         age gender     occupation zip_code
user_id
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206

## Handling Missing Values (*NA* or *Not Available*)

-  Missing data is usually either not present (i.e., empty string) or marked by some **sentinel** value. 

-  By default, <code>**pandas**</code> uses a set of commonly occurring sentinels, such as <code>**None**</code> and <code>**NaN**</code>.

-  The <code>**na_values**</code> is used to customize sentinel values by adding to the default ones either a list or set of strings to consider missing values.

-  Chech the guide about [working with missing data](https://pandas-docs.github.io/pandas-docs-travis/user_guide/missing_data.html)

In [9]:
"""
Suppose we want to mark as NA any entry whose value is 'N/A'.
"""
# Load again the data with the option for handling missing values (na_values)
users = pd.read_csv(path,
                    sep='|',
                    index_col='user_id',
                    na_values=['N/A'])

# Alternatively, we can define a dictionary of sentinels, i.e., a set for
# each column.
sentinels = {'age': ['inf', 'N/A'], 'zip_code': ['00000']}

users = pd.read_csv(path, sep='|', index_col='user_id', na_values=sentinels)
print(users.head(20))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660

### Reading Text Files in Pieces

-  When processing very large files, you may only want to read in a small piece of a file or iterate through smaller chunks of the file.

-  If we want to only read out a small number of rows (avoiding reading the entire file), specify that with <code>**nrows**</code>.

In [10]:
"""
Suppose we want to just read 100 records from our file.
"""
# Specify the number of rows to be read
users_100 = pd.read_csv(path, sep='|', index_col='user_id', nrows = 100)



# Verify that we actually read that many rows
print("Number of observations (#rows) = {}".format(users_100.shape[0]))
users_100.head(10)

Number of observations (#rows) = 100

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [11]:
"""
Let's reload the dataset from the remote file.
"""
users = pd.read_csv(path, sep='|', index_col='user_id')
print(users.head())
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [12]:
"""
Let's print out some information about the data we just loaded.
"""
print("Number of observations (#rows) = {}".format(users.shape[0]))

print("Number of fields (#columns) = {}".format(users.shape[1]))

print("Column names = [{}]".format(", ".join([c for c in users.columns])))

print("The index (i.e., the labels) is:\n{}".format(users.index))

print("The data types of each column are:\n{}".format(users.dtypes))

Number of observations (#rows) = 943
Number of fields (#columns) = 4
Column names = [age, gender, occupation, zip_code]
The index (i.e., the labels) is:
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)
The data types of each column are:
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [13]:
"""
Suppose we want to access a single column of the DataFrame.
"""
# Let's return the first 5 values of the 'occupation' column.
print(users['occupation'][:5]) # alternatively, use users['occupation'].head()
print()

# The same can be obtained using '.' notation
print(users.occupation[:5]) # alternatively, use users.occupation.head()

user_id
1    technician
2         other
3        writer
4    technician
5         other
Name: occupation, dtype: object

user_id
1    technician
2         other
3        writer
4    technician
5         other
Name: occupation, dtype: object

In [14]:
"""
Suppose we want to access a single column of the DataFrame.
"""
# Let's return the first 5 values of the 'occupation' column.
print(users.loc[:5, 'occupation'])

user_id
1    technician
2         other
3        writer
4    technician
5         other
Name: occupation, dtype: object

In [15]:
"""
Let's now create a deep copy of the loaded DataFrame 'users'.
Remember: assigning another name to the same DataFrame is simple a view.
For example, users_df = users makes users_df point to the same users. As such,
any change to the content of the DataFrame while working on users_df is reflected to users.
"""
# Make a deep copy of users
users_df = users.copy()
print(users_df.head())

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [16]:
"""
Let's add an extra column to the DataFrame and populate this column
with some values (e.g., a series)
"""
# Suppose we want to add an extra column 'salary', which we randomly populate
# with values in the range [5000, 1000000]
np.random.seed(142) # Initialize internal state of the random number generator

# set base salary
BASE_SALARY = 5000

# build values
values = pd.Series(np.random.randint(995000, size=users_df.shape[0]) + BASE_SALARY)
print(values.head())

0    890013
1    372813
2    822563
3    962708
4    796578
dtype: int64

In [17]:
"""
Before we actually "join" the Series we have just created with our users DataFrame,
we need the index of both objects to be aligned. Otherwise, there won't be any salary
associated with the DataFrame row index 943, as the Series index is shifted by 1 w.r.t.
the index of our DataFrame. Let's specify the index when creating our salary values.
"""
np.random.seed(42) # Initialize internal state of the random number generator
BASE_SALARY = 5000

# add index
values = pd.Series(np.random.randint(995000, size=users_df.shape[0]) + BASE_SALARY,
                  index=users_df.index)
print(values.head())

user_id
1    126958
2    676155
3    136932
4    370838
5    264178
dtype: int64

In [18]:
# Create a new column on the users_df DataFrame and populate this with
# the Series we just created
users_df['salary'] = values
print(users_df.head())

         age gender  occupation zip_code  salary
user_id
1         24      M  technician    85711  126958
2         53      F       other    94043  676155
3         23      M      writer    32067  136932
4         24      M  technician    43537  370838
5         33      F       other    15213  264178

In [19]:
# We can access multiple columns of this new DataFrame as follows.
print("Occupation and Salary of the first 5 users:\n{}".
      format(users_df[['occupation', 'salary']].head()))

Occupation and Salary of the first 5 users:
         occupation  salary
user_id
1        technician  126958
2             other  676155
3            writer  136932
4        technician  370838
5             other  264178

In [20]:
"""
Wait! We might not want to associate a salary to each entry!
For example, you don't want to assign a salary to any user aged less than 18
or anyone who doesn't have a job or is a student.
Let's see what are the set of occupations.
"""
users_df['occupation'].unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

In [21]:
"""
Create a mask to assign a salary only to those users who are at least 18 AND
are not student nor unoccupied.
We therefore set salary to 0 for any of the users above
"""
mask = (users_df.age >= 18) & ~(users_df.occupation.isin(['student', 'none']))
# mask = (users_df.age >= 18) & (users_df.occupation != 'student') \
# & (users_df.occupation != 'none')
# mask = (users_df.age >= 18) & ~(users_df.occupation == 'student') \
# & ~(users_df.occupation == 'none')

In [22]:
mask = (users_df.age >= 18) & ~(users_df.occupation.isin(['student', 'none']))

In [23]:
mask

user_id
1       True
2       True
3       True
4       True
5       True
       ...
939    False
940     True
941    False
942     True
943    False
Length: 943, dtype: bool

In [24]:
np.where(mask, users_df['salary'], 0)

array([126958, 676155, 136932, 370838, 264178, 649167, 115268, 737180,
            0, 142337, 526430, 959698,  92498, 904159, 917756, 180203,
       196335, 283167,  46090, 334365,  69820, 792201, 326879, 723315,
       332069, 781997, 204041, 796743, 108355,      0, 219176,      0,
            0, 426909, 994436,      0,      0, 922040, 505186, 161730,
       875910, 389681, 154503, 659811, 532035, 653143, 457366,  70725,
            0,  89654, 958277,      0, 596723, 324030, 333947, 560839,
            0, 278538, 336236, 533178, 570894, 494492, 261840, 478254,
       354457,      0,      0,      0, 244629, 210041, 703361, 736912,
            0,  73148, 782089,      0, 256995, 911606, 683843, 915790,
            0, 261508, 808591, 901942, 111530, 609365, 827352, 465337,
       729839, 810889, 464773, 213261, 769469,      0, 320139, 176829,
       276836, 443974,      0, 207283,      0, 566353,      0,      0,
       955110, 540822, 492879, 569685, 787038,      0, 268160, 584879,
       225884,  28247,  29300, 472281,      0, 538556, 353951, 279329,
       724064, 747139, 437315,      0, 521588, 241584,      0, 842646,
       983732,      0,  53984, 307918, 269712, 125151,      0, 990067,
       138767, 653663,      0,      0, 485754,      0, 693519,  18986,
       591146, 134312,  17666, 305804, 139633, 293998, 855937, 633776,
            0,      0, 799824,  35535, 380713, 843688,      0, 918910,
       826654, 606661, 652972, 494570, 461551, 278109,  29538, 899498,
       206664, 496234, 904684, 144182, 477525, 163338, 189064, 219020,
       628094, 929414,      0, 620270, 650914, 124176, 922710, 223126,
       223969, 127409, 552707,      0, 258618, 774598,  55015, 777838,
            0, 636347, 190340, 115687, 879371,      0, 740716, 110878,
       732270, 978548,      0, 778290, 779684,      0, 978324, 329767,
       866882, 884858, 384989, 420515,  48585, 376369,  69044, 965061,
       447296, 114556, 531981, 886691,      0, 205235,      0, 971429,
       965445,      0, 547335,      0,  80766,      0, 420192, 573550,
       392261, 815208, 690440, 657664, 989346, 459589, 142848, 622075,
            0, 584304, 407690, 504046,      0,      0, 665890,      0,
            0, 795180, 233576, 542833, 919091, 988703, 170838,      0,
            0,      0,      0, 123451, 452600,      0, 444792,  44353,
       198075, 219283, 319877,  70318, 770313,      0, 421880, 596460,
       745976,      0,  98264,      0, 818168, 230281, 642147, 903613,
            0, 357228, 436839, 274536, 322824,      0, 182789, 518153,
            0, 842291,      0, 240167, 686669, 485671, 724094,  75467,
       188734, 627794, 114751, 386050,      0, 816774,      0,      0,
       373452, 974587,      0, 988237, 618333, 563986, 115078, 872055,
        27671,      0, 360528, 964611, 615490,  56663,  20708,      0,
       316955,      0,      0,      0, 994586, 915681,      0, 756102,
       767002, 147483, 663271,      0, 219835, 406896,  89896, 482095,
        76295, 748974, 892121, 278255,      0, 662162,  13155, 471872,
       830816, 379705,      0,      0, 615269,      0, 559594, 152718,
       313987, 650263,      0, 112512, 152443, 475587,      0, 662409,
            0, 370871,      0, 812364, 122796,      0,      0,      0,
            0, 274544, 385002,      0, 544439, 973911,      0, 533787,
            0,      0, 393215, 326184, 803615, 427515, 673234, 383480,
        37711, 796971, 506157, 189423, 983771, 521349,      0, 917495,
            0, 829792, 742378, 138272,      0, 991001, 707335, 812789,
       648409,  82505,   7869, 786474, 459351, 317252, 641584,      0,
        95272,  43467, 814760, 882844, 485047, 664347,  63871,      0,
       133391,      0, 615704, 861703, 835496, 261687, 730451, 112450,
            0, 443741, 286974,      0,      0, 121381, 478125, 576621,
       139508,      0, 867645, 404111, 155810, 297890, 578665, 970908,
       845477,      0, 962294, 374599, 665960, 755020, 884611, 176836,
       734903,  50714,      0, 632234,      0, 635271, 471960, 716851,
       129123, 941093,      0,  87989,      0,      0, 183274, 692995,
       330352,      0, 416927, 794852, 888184, 136373,      0,      0,
            0, 976744, 653307,      0,      0, 382812, 273246, 710696,
       123015,      0, 259079,      0, 694944, 693105, 518758, 945597,
       988609, 370890, 450101,  41631, 771577,  77991,   9014,      0,
            0, 827209,  61958,  87074,      0,      0, 181089, 202392,
       163823, 635152, 398002, 738429, 503863, 372654,      0, 535089,
       155262, 447905, 240362, 449209,      0, 802079, 669076, 224963,
            0, 253710, 225984, 902059, 861748, 787355, 269512,      0,
       273799, 242549, 599319,      0, 489299,      0, 453982, 129046,
       411619,  37097, 671326, 654150,      0,      0,  98848,  57921,
       710086, 655429, 710660, 289821,  60609,      0, 979165,  36024,
        75313, 394957, 189078, 362429, 937842, 466243, 118632,      0,
       256451,   8051, 709107, 381836,      0,      0, 726772, 194407,
       454395, 954597, 467894, 216810, 962238, 732975,  78523, 765463,
            0, 238841, 808451,      0, 227866,      0, 603135,      0,
       739994,      0, 632769,      0, 555233, 882284,  37217,      0,
       273093, 188062, 399366, 749840, 105235,  79740,      0, 858049,
       755201, 808328, 922230, 182247, 668165, 534525,  25056, 181615,
            0,      0, 378632, 139415, 411716, 451438, 558663, 670022,
       546252,      0,      0, 719998,      0, 745427, 517153,      0,
       860474, 149356, 208861,      0, 459605,  14435,      0,      0,
       870264, 580581,  83781, 196475, 165196, 231507, 311063,      0,
            0,      0, 126172, 361902, 489963,      0, 323717,  64101,
            0, 293790, 895617, 552337, 739965,      0, 888811, 597673,
            0, 438374, 725777,      0, 377370, 892225, 276967, 196232,
       309119,  14540, 545652, 402827, 556951,  56991, 193751, 371326,
       691337,      0,  54115, 358151, 748583, 196962,      0, 154143,
       719635, 994873, 541226,      0, 358824,   9000, 730948, 892474,
       360754, 256492, 895123, 504522, 496072,  43304, 509999, 336593,
       612274, 156836, 113940,      0, 270517, 672521, 626820, 884090,
            0,      0, 556638, 622296, 885729,      0,      0,      0,
       937809, 342497, 212869,  70953, 848890, 505328, 811790,   8267,
        87745, 881020, 829945, 162164,      0, 136484,      0, 897323,
            0,  65692, 225156, 228992, 521771, 835857, 568044, 548176,
       696095, 838727, 119352, 874474,  90999,      0, 829273,  75640,
       201582, 957415, 981535, 749086, 405573, 430695,  66476, 311955,
       172280, 680510, 600468,      0,      0,      0,      0, 191141,
            0, 639736, 543685, 964059,      0, 923232, 973021, 124180,
        71234,      0,      0,  84459,      0,      0, 471152, 946970,
       959443,      0,      0,  64163,      0,  56934, 725255, 430523,
       845530, 459137,      0, 144407, 878332, 655308, 632083, 225184,
            0, 354652, 766315, 647612, 327710, 202775, 294336, 792494,
       613364,  94780, 157617, 550977, 802606, 355605, 917606, 894465,
       538636, 946218,  43102,  79460,      0,  94930, 536089, 632438,
            0, 184208, 159697,      0, 236915, 732952, 213124, 442477,
       530830, 288821, 182804, 710703,  44081, 723216, 360249, 224930,
       810497, 522313, 219532, 617380, 524332,      0, 294106,  33295,
        18807, 440564, 162504, 243067, 490008, 980358,      0, 697440,
            0, 882699, 522923, 171981, 749699,      0, 957082, 208196,
       253683, 239677,  31790, 648162,      0, 453345,      0, 492462,
       544773, 835914,  91188, 534036,      0,      0, 795141,      0,
        35355, 716131,      0, 411332, 161542, 178416, 310062,      0,
       568586, 506708, 871651,  66629, 333184,      0,      0, 295160,
       553248,      0, 218920, 894765,      0, 381965, 465857, 827827,
       509492, 658983, 420916, 826052, 763574, 133148, 811991,      0,
       360540, 197714, 736899, 288876, 264747, 620650, 428570, 280987,
            0, 863158,  22640,  57528,      0, 264214, 844070, 975240,
            0, 639421,      0, 729226, 155159, 177502, 160576,      0,
       870291, 891089, 933479,  16023,      0, 393043, 291103,  71203,
       910588, 165775,      0, 575715,      0, 328673,      0])

In [25]:
#users_df['salary'] = users_df['salary'].where(mask, 0)
# Alternatively
users_df['salary'] = np.where(mask, users_df['salary'], 0)
users_df.head(10)

         age gender     occupation zip_code  salary
user_id
1         24      M     technician    85711  126958
2         53      F          other    94043  676155
3         23      M         writer    32067  136932
4         24      M     technician    43537  370838
5         33      F          other    15213  264178
6         42      M      executive    98101  649167
7         57      M  administrator    91344  115268
8         36      M  administrator    05201  737180
9         29      M        student    01002       0
10        53      M         lawyer    90703  142337

In [26]:
"""
Use integer slicing (special behavior to select rows)
"""
# Note that this integer slicing operator cannot be extended on both axis,
# as we did for 2-D numpy arrays. In other words, you cannot use the same
# syntax to slice over rows and columns with something like 
# users2[i_start:i_stop, j_start:j_stop]
# In order to use integer slicing on BOTH axis as above, we need to use the .iloc method
print("First 7 rows of the DataFrame:\n{}".format(users_df[:7]))

First 7 rows of the DataFrame:
         age gender     occupation zip_code  salary
user_id
1         24      M     technician    85711  126958
2         53      F          other    94043  676155
3         23      M         writer    32067  136932
4         24      M     technician    43537  370838
5         33      F          other    15213  264178
6         42      M      executive    98101  649167
7         57      M  administrator    91344  115268

In [27]:
"""
Select all the users in the DataFrame whose salary is greater than 500k
"""
# This is a boolean mask which returns a Series containing either True or False
# corresponding to each entry index of the DataFrame depending on whether that entry
# has a salary which is greater than 500k or not.
mask = users_df.salary > 500000

print(mask.head(7))
print()
print("The list of first 5 users having salary greater than 500k is:\n{}"
      .format(users_df[mask].head()))

user_id
1    False
2     True
3    False
4    False
5    False
6     True
7    False
Name: salary, dtype: bool

The list of first 5 users having salary greater than 500k is:
         age gender     occupation zip_code  salary
user_id
2         53      F          other    94043  676155
6         42      M      executive    98101  649167
8         36      M  administrator    05201  737180
11        39      F          other    30329  526430
12        28      F          other    06405  959698

In [28]:
"""
Suppose I want to select only female users whose salary is greater than 500k
"""
mask = (users_df.salary > 500000) & (users_df.gender == 'F')
print(mask.head(7))
print()
print("The list of first 5 female users having salary greater than 500k is:\n{}"
      .format(users_df[mask].head()))

user_id
1    False
2     True
3    False
4    False
5    False
6    False
7    False
dtype: bool

The list of first 5 female users having salary greater than 500k is:
         age gender occupation zip_code  salary
user_id
2         53      F      other    94043  676155
11        39      F      other    30329  526430
12        28      F      other    06405  959698
15        49      F   educator    97301  917756
24        21      F     artist    94533  723315

In [39]:
"""
Let's use loc and iloc methods to index both axis (i.e., rows and columns)
using either index/column labels (loc) or integers (iloc).
"""
# Note that in this special case, index (row) labels are integers...
# In cases like this, loc falls back to work like .iloc
print("user_id: 1 and 4 (ROWS); gender, salary, zip_code (COLUMNS):\n{}"
      .format(users_df.loc[[1, 4], ['gender', 'salary', 'zip_code']]))

print()

print("user_id: 1 and 4 (ROWS); 2nd, 5th, 4th (COLUMNS):\n{}"
      .format(users_df.iloc[[0, 3], [1, 4, 3]]))

user_id: 1 and 4 (ROWS); gender, salary, zip_code (COLUMNS):
        gender  salary zip_code
user_id
1            M  126958    85711
4            M  370838    43537

user_id: 1 and 4 (ROWS); 2nd, 5th, 4th (COLUMNS):
        gender  salary zip_code
user_id
1            M  126958    85711
4            M  370838    43537

In [30]:
"""
Suppose we want to sort the DataFrame by age (ascending) and salary (descending)
"""
print(users_df.sort_values(by=['age', 'salary'], ascending=[True, False]).tail())

         age gender     occupation zip_code  salary
user_id
559       69      M      executive    10022  118632
767       70      M       engineer    00000  973021
860       70      F        retired    48322  648162
803       70      M  administrator    78212  157617
481       73      M        retired    37771  123015

In [31]:
"""
To make the above more meaningful, let's just consider only when salary is > 0
"""
print(users_df[users_df.salary > 0].sort_values(by=['age', 'salary'], 
                                                ascending=[True, False]).head(10))

         age gender occupation zip_code  salary
user_id
620       18      F     writer    81648  719998
851       18      M      other    29646  522923
507       18      F     writer    28450  398002
925       18      F   salesman    49036  155159
859       18      F      other    06492   31790
747       19      M      other    93612  981535
601       19      F     artist    99687  755201
35        20      F  homemaker    42459  994436
596       20      M     artist    77073  749840
677       20      M      other    99835  748583

In [32]:
"""
Suppose we want to see what is the average salary of the users.
"""
# Let's first consider ALL the users (also those who have 0 salary)
print("The average salary across ALL the users is: {:.2f}"
      .format(users_df.salary.mean()))

# Let's now filter out from the mean computation any user whose salary is 0
print("The average salary across all working users is: {:.2f}"
      .format(users_df[users_df.salary > 0].salary.mean()))

The average salary across ALL the users is: 369708.87
The average salary across all working users is: 474333.96

In [33]:
"""
Let's see what is the median age of the users in our DataFrame.
"""
print("The median age across ALL the users is: {}"
      .format(users_df.age.median()))

The median age across ALL the users is: 31.0

In [34]:
"""
Let's see what happens if we call 'describe()' on this DataFrame
"""
print(users_df.describe()) # Notice, only numeric columns are part of the description!

              age         salary
count  943.000000     943.000000
mean    34.051962  369708.865323
std     12.192740  324238.271411
min      7.000000       0.000000
25%     25.000000   42366.500000
50%     31.000000  310062.000000
75%     43.000000  653225.000000
max     73.000000  994873.000000

In [35]:
# Let's try to include all the columns in the description
print(users_df.describe(include = "all"))

               age gender occupation zip_code         salary
count   943.000000    943        943      943     943.000000
unique         NaN      2         21      795            NaN
top            NaN      M    student    55414            NaN
freq           NaN    670        196        9            NaN
mean     34.051962    NaN        NaN      NaN  369708.865323
std      12.192740    NaN        NaN      NaN  324238.271411
min       7.000000    NaN        NaN      NaN       0.000000
25%      25.000000    NaN        NaN      NaN   42366.500000
50%      31.000000    NaN        NaN      NaN  310062.000000
75%      43.000000    NaN        NaN      NaN  653225.000000
max      73.000000    NaN        NaN      NaN  994873.000000

In [36]:
"""
Sometimes it is useful to know how the values of a particular attribute (i.e., column)
is distributed over the data instances that we have.
"""
# Let's first see how many unique occupations are on our dataset (already
# saw this above)
unique_occupations = users_df.occupation.unique()

print("There are {} unique occupation values, which are as follows:\n[{}]"
      .format(unique_occupations.shape[0],
              ", ".join([o.title() for o in np.sort(unique_occupations)])))

There are 21 unique occupation values, which are as follows:
[Administrator, Artist, Doctor, Educator, Engineer, Entertainment, Executive, Healthcare, Homemaker, Lawyer, Librarian, Marketing, None, Other, Programmer, Retired, Salesman, Scientist, Student, Technician, Writer]

In [37]:
"""
Now let's see how many times each unique value of the 'occupation' column
appears across the dataset. In other words, we compute the frequency count (a.k.a. histogram)
of the 'occupation' attribute.
"""
print("Histogram of occupation values:\n{}"
      .format(pd.value_counts(users_df.occupation, sort=True)))

Histogram of occupation values:
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

## Working with other text formats

-  Plain text files, such as <code>**.csv**</code> or <code>**.tsv**</code>, are not the only formats we might need work with.

-  Other possible "text" formats can be: **JSON** (**J**ava**S**cript **O**bject **N**otation), **XML**/**HTML**, etc.